# App
NODE_ENV=development
PORT=3000
FRONTEND_URL=http://localhost:5173

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=shop_user
DB_PASSWORD=shop_password
DB_DATABASE=online_shop
DB_SYNCHRONIZE=false
DB_LOGGING=true

# JWT
JWT_ACCESS_SECRET=change_me_access_secret_at_least_32_chars_long
JWT_REFRESH_SECRET=change_me_refresh_secret_at_least_32_chars_long
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=30d

# Mail (Gmail App Password yoki Mailtrap yoki Yandex)
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_SECURE=false
MAIL_USER=your_email@gmail.com
MAIL_PASSWORD=your_app_password
MAIL_FROM_NAME=Online Shop
MAIL_FROM_ADDRESS=noreply@shop.local

# OTP
OTP_LENGTH=6
OTP_EXPIRES_MINUTES=5
OTP_RESEND_COOLDOWN_SECONDS=60
OTP_MAX_ATTEMPTS=5

# Email verification & Password reset
EMAIL_VERIFICATION_EXPIRES_HOURS=24
PASSWORD_RESET_EXPIRES_MINUTES=30